.hk-card {
  &--newsletter {
    // margin: 10px;
    padding-bottom: 22px;
    width: 280px;

    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
    .hk-card-header {
      display: flex;
      justify-content: space-between;

      align-items: center;

      padding: 10px 0 11px 15px;
      width: 100%;
      h3 {
        font-size: 16px;
        line-height: 27px;
        text-align: left;
      }
      .day {
        padding-right: 15px;
        font-size: 12px;
        color: #3ca488;
      }
    }

    .hk-card-frame {
      height: 139px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
    }
    .hk-card-desc {
      padding: 12px 0 22px;
      font-size: 14px;
      line-height: 20px;
      height: 75px;
      color: #666;
    }
    .hk-card-footer {
      display: flex;
      align-items: center;
      justify-content: center;

      .hk-card-footer-btn {
        position: static;
        display: inline-block;
        margin: 0 4px;
        padding: 0;
        width: 84px;
        line-height: 28px;
        font-size: 12px;
        font-weight: 500;
        color: #999;
        border: 1px solid #999;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: #333;
          border-color: #333;
        }
        &.subs-btn {
          color: #3ca488;
          border-color: #3ca488;
          &:hover {
            background-color: #3ca488;
            color: #fff;
            &::after {
              background: url("./assets/icon/icon_subsc_w.svg") no-repeat;
              background-size: 100%;
            }
          }
          &::after {
            content: "";
            display: inline-block;
            margin-left: 2px;
            width: 8px;
            height: 8px;
            background: url("./assets/icon/icon_subsc.svg") no-repeat;
            background-size: 100%;
            vertical-align: 1px;
          }
        }
      }
    }

    &.finished {
      .hk-card-header {
        h3 {
          color: #999;
        }
        .day {
          color: #999;
        }
      }
    }
  }
}
