.hk-header {
  &--newsletter {
    position: relative;
    margin: 0 0 16px;
    padding-top: 12px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #e2e2e2;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 47px;
      height: 3px;
      background: #3ca488;
    }
    .title-wrap {
      display: flex;
      align-items: center;
      h2 {
        font-size: 26px;
        font-weight: 500;
        color: #111;
      }
      .sub-title {
        padding-left: 2px;
        color: #666;
        font-size: 16px;
      }
    }

    &.finished {
      &::before {
        background: #999;
      }
    }
    &.table {
      display: flex;
      align-items: center;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }

  &--main-section {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 20px;
    .title-wrap {
      h2 {
        line-height: 20px;
        font-size: 21px;
        font-weight: 400;
        color: #111;
      }
    }
  }
}
